img {
  max-width: 100%;
  height: auto;
}

a {
  img {
    transition: opacity 200ms;
    &:hover {
      opacity: 0.8;
    }
  }
}

h3 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.demo-page {
  width: 100%;
  background: grey;
  background-repeat: no-repeat;
  background-position: center top;
}

.navbar {
  margin: 0;
  opacity: 0.3;
  transition: opacity 300ms;
  &:hover {
    opacity: 1;
  }
}

body.dark {
  background-color: #000;
  .navbar {
    @extend .navbar-inverse;
  }
}

body.home {
  .navbar {
    @extend .navbar-inverse;
    margin-bottom: 30px;
    opacity: 1;
  }
}
